
/* Temporary hack for bad demos */
body {
  overflow-x: hidden;
}


/* Outlines for demo page */
.FlexDemos .Flex,
.BoxDemos .Flex {
  outline: 1px solid rgba(255, 63, 0, .25);
}

.FlexDemos .Box,
.BoxDemos .Box {
  outline: 1px solid rgba(0, 127, 255, .25);
}

