
/*
 * Temporary hack for bad demos
body {
  overflow-x: hidden;
}
 * */

body {
  font-family: -apple-system, system, Roboto, Helvetica, sans-serif;
  line-height: 1.5;
}

h1, h2, h3,
h4, h5, h6 {
  margin: 0;
}

/* Outlines for demo page */
.FlexDemos .Flex,
.BoxDemos .Flex {
  outline: 5px solid rgba(255, 63, 0, .25);
}

.FlexDemos .Box,
.BoxDemos .Box {
  outline: 3px solid rgba(0, 127, 255, .5);
}

.Box {
  /*
  font-size: .75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .4em;
  color: rgba(0, 127, 255, .75);
  */
}

h1, .h1 { font-size: 3rem }
h2, .h2 { font-size: 2rem }
h3, .h3 { font-size: 1.5rem }
h4, .h4 { font-size: 1rem }
h5, .h5 { font-size: .875rem }
h6, .h6 { font-size: .75rem }

.caps {
  text-transform: uppercase;
  letter-spacing: .4em;
}

