
pre, samp, code,
.mono {
  font-family: 'Roboto Mono', monospace;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

.v100 { min-height: 100vh }

.demo-flex,
.Example .Flex {
  outline: 1px solid #047;
  outline: 1px solid #068;
  outline: 1px solid #aef;
}

.demo-box,
.Example .Box {
  outline: 1px solid #08b;
  outline: 1px solid #068;
  outline: 1px solid #aef;
}

.white { color: #fff }
.blue { color: #0cf }
.dark-blue { color: #024 }
.dark-blue { color: #047 }

.bg-white { background-color: #fff }
.bg-blue { background-color: #0cf }

.b3 { border-width: 3px }
.border-white { border-color: #fff }

